html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
button, a {
  outline: 0;
  overflow: visible;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
ul, li {
  list-style-type: none;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #fff;
  /*padding: 0;*/
  /*margin: 0;*/
}
#container {
  margin: 0;
  padding: 0;
  min-width: 320px;
}
#header {
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  background-color: #222;
  border-style: solid;
  border-width: 1px;
  border-color: #080808;
  box-sizing: border-box;
}
.content {
  margin: 0 auto;
  text-align: center;
}
.button {
  position: relative;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  outline: none;
  vertical-align: middle;
}
#appLogo {
  position: relative;
  top: 8px;
  font-size: 14pt;
  font-weight: 700;
  color: #aaa;
}
.settingsButton {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 30px;
  height: 40px;
  width: 60px;
  color: lightgrey;
}
.dashboardButton {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 30px;
  height: 30px;
  padding: 6px 10px;
  color: lightgrey;
}
/*
#settingsBtn {
  position: absolute;
  top: 2px;
  left: 2px;
  background-image: url("../images/gear.png");
  background-size: 40px 40px;
}
#dashBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("../images/dash.png");
  background-size: 40px 40px;
}
*/
#pinnedBar {
  display: none;
}
.msgBlock {
  box-sizing: border-box;
  width: 100%;
  min-height: 56px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}
.author {
  float: left;
  width: 32px;
  height: 32px;
}
.avatar {
  float: left;
  width: 32px;
  height: 32px;
}
.handle {
  font-size: 9pt;
  color: #007aff;
}
.msgText {
  margin-left: 38px;
  text-align: left;
  font-size: 10pt;
}
.time {
  float: right;
  position: relative;
  top: -14px;
  text-align: right;
  font-size: 9pt;
  color: gray;
}
#feed {
  top: 44px;
  bottom: 44px;
  position: fixed;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.hamburger {
  display: none;
}
.msgMenu {
  display: none;
}
#footer {
  width: 100%;
  height: 44px;
  position: fixed;
  bottom: 0;
  background-color: #222;
  border-style: solid;
  border-width: 1px;
  border-color: #080808;
}
#toolbox {
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 44px;
  background-color: #222;
}
.tool {
  height: 40px;
}
#toolsBtn {
  position: absolute;
  top: 2px;
  left: 2px;
  background-image: url("../images/tool.png");
  background-size: 27px 27px;
  background-position: 4px 4px;
}
#picBtn {
  position: relative;
  top: 6px;
  font-size: 12pt;
  width: 90%;
  height: 28px;
  padding-top: 0;
}
#thumb {
  display: inline-block;
}
#thumb img {
  height: 40px;
  vertical-align: middle;
}
#cancelBtn {
  background-image: url("../images/cancel-icon.png");
  background-size: 30px 30px;
  background-position: 3px 3px;
}
.closeBtnLeft {
  background-image: url("../images/arrow-angular-left.png");
  background-size: 40px 50px;
  background-position: 0 0;
  /*margin-bottom: 9999px;*/
}
.closeBtnRight {
  background-image: url("../images/arrow-angular-right.png");
  background-size: 40px 50px;
  background-position: 0 0;
  /*margin-bottom: 9999px;*/
}
.textField {
  position: relative;
  padding-left: 10px;
  top: 6px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 6px;
  font-size: 12pt;
  text-align: center;
}
#searchField {
  width: 90%;
  height: 24px;
  padding-top: 0;
}
#composeField {
  width: 67%;
  height: 30px;
  font-size: 12pt;
}
#sendBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("../images/send.png");
  background-size: 54px 54px;
  background-position: -9px -9px;
}
#cannedSelect {
  /*width: 90%;*/
}
#map {
  height: 100%;
  width: 100%;
  z-index: 100;
}
#pic {
  width: 100%;
  position: relative;
  z-index: 100;
}
.panel {
  position: fixed;
  /*top: 0;*/
  width: 75%;
  height: 100%;
  z-index: 1000;
  border: 1px solid #080808;
  background-color: #222;
  /*display: block;*/
  box-sizing: border-box;
  /*padding: 8px;*/
  font-size: 11pt;
}
#panelLeft {
  left: -75%;
}
#panelRight {
  right: -75%;
}
#panelLeft.slide {
  left: 0;
}
#panelRight.slide {
  right: 0;
}
.panelContent {
  margin-top: 12px;
  /*display: inline-block;*/
}
#panelLeft .panelContent {
  margin-left: 12px;
  margin-right: 36px;
}
#panelRight .panelContent {
  margin-right: 10px;
  margin-left: 10px;
}
.settingsTitle {
  font-size: 24px;
  font-weight: 700;
  padding-left: 45px;
  height: 40px;
  margin: 0px;
  top: 0px;
  letter-spacing: 5px;
}
.panelContent li {
  /*display: block;*/
  padding: 10px 4px;
  border-bottom: 1px solid #aaa;
}
#all {
  /*display: block;*/
  /*width: 100%;*/
}
#all.hide {
  position: fixed;
  /*left: 75%;*/
  /*top: 0;*/
  /*width: 100%;*/
}
#all.slide {
  /*position: relative;*/
}
.slide, .hide {
  transition: all 0.2s ease; /* Speed of panel's movement. */
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease; /* Speed of overlay's darkening. */
}
.overlay.show {
  /*position: fixed;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.filterButton{
  border-color: white;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  font-size: 16px;
  margin: 1px 2%;
  padding: 5px 0px;
  width: 96%;
  text-align: left;
  padding-left: 20px;
}
.groupTitleButton{
  border-color: white;
  border-width: 1px 0 0 0;
  border-style: solid;
  font-size: 24px;
  padding: 5px;
}
i {
width: 30px;
text-align: center;
padding-right: 10px;
}
.selectAllButton{
font-size: 20px;
font-style: italic;
}

#avatarDisplay{
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid black;
  height: 80px;
  width: 80px;
}
.dashboardTitle{
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
  letter-spacing: 5px;
}
.dashboardCategory{
  border-color: white;
  border-width: 1px 0 0 0;
  border-style: solid;
  font-size: 18px;
  padding: 5px 0 5px 50px;
}
#jobsStat, #earningsStat, #onTimeStat{
  font-size: 48px;
} 
.warning {
  background-color: #ffff66;
}
.danger {
  background-color: #ff5050;
}
