<div id="all">

  <div class="appSig">

    <div class="content">
      <div class="appLogo">
      </div>
      <div class="appName">App Name</div>
    </div>

  </div>

  <div class="login">

    <div class="emailLogin">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group"><input placeholder="Email" type="text" name="email" class="form-control loginField" ng-model="user.email" /></div>
        <div class="form-group"><input placeholder="Password" type="password" name="password" class="form-control loginField" ng-model="user.password" /></div>

        <div class="form-group has-error whiteText">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">Please enter your email and password.</p>
          <p class="help-block">{{ errors.other }}</p>
        </div>

        <button id="loginButton" type="submit" class="btn btn-lg btn-primary">Enter</button>

      </form>
    </div>

    <div class="googleLogin">
      <button id="googleLoginButton" data-ng-click="loginOauth('google')">Log in with Google</button>
    </div>

    <div class="register">
      <a href="/signup"><button id="registerButton" type="button" class="text-center new-account">Create an account.</button></a>
    </div>

  </div>

</div>
