<div class="panel" id="panelLeft" ng-class="{ hide: !showPanelLeft, slide: showPanelLeft }">
  <button class="button closeBtnLeft floatRight" id="closePanelLeft" ng-click="togglePanelLeft()">close</button>
  <h1 class="panelTitle">Settings</h1>
  <div class="groupTitleButton" ng-click="showZones = !showZones" ng-init="showZones = false"><i class="fa fa-map-marker"></i>Zones</div>
  <button class="filterButton" ng-repeat="zone in settings.zones" ng-show="showZones"ng-click="zone.show = !zone.show" ng-class="{'on':zone.show}">{{zone.label}}</button>
  <div class="groupTitleButton" ng-click="showTypes = !showTypes" ng-init="showTypes = false"><i class="fa fa-envelope"></i>Message Types</div>
  <button class="filterButton" ng-repeat="type in settings.messageTypes" ng-show="showTypes" ng-click="type.show = !type.show" ng-class="{'on':type.show}">{{type.label}}</button>
  <div class="groupTitleButton" ng-click="showUsers = !showUsers" ng-init="showUsers = false"><i class="fa fa-user"></i>Users</div>
  <button class="filterButton" ng-repeat="user in settings.users" ng-show="showUsers" ng-click="user.show = !user.show" ng-class="{'on':user.show}">{{user.name}}</button>  
</div>

<div class="panel" id="panelRight" ng-class="{ hide: !showPanelRight, slide: showPanelRight }">
  <button class="button closeBtnRight floatLeft" id="closePanelRight" ng-click="togglePanelRight()">close</button>
  <div class="panelContent">
    <h1>Dashboard</h1>
    <ul>
      <li>Dash stat 1</li>
      <li>Dash stat 2</li>
      <li>Dash stat 3</li>
    </ul>
  </div>
</div>

<div id="map" ng-init="createMap()" ng-hide="hideMap" ng-click="hideMap = !hideMap"></div>
<div id="pic" ng-init="createPic()" ng-hide="hidePic" ng-click="hidePic = !hidePic"></div>

<div id="all" ng-class="{ hide: showPanelLeft || showPanelRight, slide: !showPanelLeft && !showPanelRight }">

  <div class="overlay" ng-class="{ show: showPanelLeft || showPanelRight }" ng-swipe-left="showPanelLeft = false" ng-swipe-right="showPanelRight = false"></div>

    <div ng-include="'partials/navbar'"></div>

<!--    <div id="feed" scroll-bottom>
      <div class="msgBlock" ng-repeat="chat in chats | orderBy:'timestamp':false | searchFor:searchString | filter: messageFilter" ng-click="showMapOrPic(chat)" scroll-bottom>
        <div class="content">
          <div class="author">
            <img class="avatar" src={{chat.pic}} />
            <span class="handle">{{chat.user || 'guest'}}</span> -->

      <div id="feed" scroll-bottom>
        <div class="msgBlock" ng-repeat="chat in chats | orderBy:'timestamp':false | searchFor:searchString | filter: messageFilter" ng-click="showMapOrPic(chat)" scroll-bottom>
          <div class="content">
            <div class="author">
              <img class="avatar" src={{chat.pic}} />
              <span class="handle">{{chat.user || 'guest'}}</span>
            </div>
            <!-- <div class="msgText">{{chat.body}}<br>{{chat.slogan}}</div> -->
            <!-- <div class="time" am-time-ago="chat.timestamp"></div> -->
            <div class="msgText">{{chat.body}}</div>
            <div class="msgText">{{chat.slogan}}</div>
            <div class="time" am-time-ago="chat.timestamp"></div>
          </div>
        </div>
      </div>
    </div>

      <div class="hamburger"></div>
      <div class="msgMenu">
        <div>reply</div>
        <div>mute</div>
        <div>grab</div>
        <div>info</div>
      </div>

    </div>

    <div id="footer">
      <form id="chatForm" name="chat" ng-init="configureUserSettings()" ng-submit="sendChat(chat)">
        <div class="content">

          <div id="toolbox" ng-show="showTools()">
            <div id="tools">

              <div class="tool" id="searchTool">
                <input type="text" class="textField" id="searchField" ng-model="searchString" placeholder="search" />
              </div>

              <div class="tool" id="picTool">
                <div flow-init="{ singleFile: true }" flow-name="image" flow-file-added="!!{ png: 1, gif: 1, jpg: 1, jpeg: 1 }[$file.getExtension()]" flow-files-submitted="$flow.upload()">
                  <div class="content">
                    <button class="btn btn-primary" id="picBtn" ng-show="!$flow.files.length" flow-btn>add pic</button>
                    <button class="button" id="cancelBtn" ng-show="$flow.files.length" ng-click="$flow.cancel()">remove</button>
                    <div id="thumb" ng-show="$flow.files.length"><img flow-img="$flow.files[0]" /></div>
                  </div>
                </div>
              </div>

              <div class="tool" id="cannedTool">
                <select id="cannedSelect" ng-model="cannedModel" ng-change="composeCanned()">
                  <option></option>
                  <option>10-4</option>
                  <option>on my way</option>
                  <option>need help</option>
                </select>
              </div>

            </div>
          </div>

            <div id="bottomRow">
              <button type="button" class="button" id="toolsBtn" ng-click="toggleTools()">tools</button>
              <input type="text" class="form-control textField" id="composeField" ng-model="chat.body" ng-keyup="$event.keyCode === 13 ? sendChat(chat) : null" placeholder="compose" />
              <button type="submit" class="button" id="sendBtn">send</button>
            </div>

        </div>

      </form>

    </div>
  </div>
</div>
