<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/feed.gif" alt="Feed Me Seymore!"><br>
   Messages will go here!
  </p>
</div>
  <div ng-repeat="chat in chats" align="center">
    <h4>{{chat.user}}</h4>
    <p>{{chat.body}}</p>
  </div>
<div class="chat_form">

  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" placeholder="TCBCourier">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="sendChat()">Send!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>

<div class="footer">
  <p align="center">Yo MTV Raps!</p>
</div>
