<!doctype html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/feed.css">
    <script src="../scripts/feed.js"></script>
  </head>
  <body>
    <div id="container">

      <div id="header">
        <div class="content">
          <div class="button" id="dashBtn">dash</div>
          <div id="appLogo">courier cockpit</div>
          <div class="button" id="settingsBtn">settings</div>
        </div>
      </div>

      <div id="pinnedBar">
        <div class="msgBlock">
          <div class="content">
            <div class="avatar"></div>
            <div class="msgText"></div>
            <div class="time"></div>
          </div>
        </div>
      </div>

      <div id="feed">
        <div class="msgBlock">
          <div class="content">
            <div class="author">
              <img class="avatar" src="../images/alex.jpg" />
              <span class="handle">Alex</span>
            </div>
            <div class="msgText">Lorem ipsum kolobnev dwars door vlaanderen gp ouest france plouay vos molteni, bartali forest of arenberg het volk jens bretagne.</div>
            <div class="time">5m</div>
          </div>
        </div>
        <div class="hamburger"></div>
        <div class="msgMenu">
          <div>reply</div>
          <div>mute</div>
          <div>grab</div>
          <div>more info</div>
        </div>
      </div>

      <div id="footer">
        <div class="content">
          <div class="button" id="attachBtn">attach</div>
          <div id="compose"></div>
          <div class="button" id="sendBtn">send</div>
        </div>
      </div>

    </div>

  </body>
</html>
